.titulo_conocemas{
    margin-left: 40%;
    margin-right: 40%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)), url('tu-imagen-de-fondo.jpg');
    box-shadow: 0px 0px 10px rgb(0, 0, 0); /* Sombra */
    border-radius: 5px;
    font-size: 3rem;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 2.5rem; /* Tamaño de fuente del título */
    margin-top: 2.5rem; /* Espacio superior */
    color: #333; /* Color del texto del título */
    /* Negrita */
    animation: fadeInUp 1s ease; /* Animación de entrada */
    margin-bottom: 2.5rem;
    
}

/* Animación de entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Estilos para las características */
.caracteristicas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espacio entre las características */
    margin-top: 20px;
    margin-left: 10%; /* Margen izquierdo en pantallas más grandes */
    margin-right: 10%; /* Margen derecho en pantallas más grandes */
    margin-bottom: 0.2rem;
}

@media (min-width: 768px) {
    .caracteristicas {
        grid-template-columns: repeat(3, 1fr);
    }
}

.caracteristica {
    background-color:none; /* Color de fondo de cada característica */
    padding: 3px; /* Espacio alrededor de cada característica */
    text-align: center;
    border: 1px solid #ffffff; /* Borde alrededor de cada característica */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgb(0, 0, 0); /* Sombra */
    overflow: hidden; /* Evita que las imágenes se desborden */
    position: relative; /* Permite la posición relativa para los elementos internos */
    transition: transform 0.3s; /* Transición para la escala */
}

.caracteristica:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
}

.caracteristica__imagen {
    width: 100%;
    height: 100%; /* Ajusta la altura al 100% */
    object-fit: cover; /* Mantiene la relación de aspecto y corta si es necesario */
    border-radius: 5px; /* Bordes redondeados para la imagen */
}
.contenedor_caracteristica__texto{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;


        
}
.contenedor_caracteristica__texto:hover{
    opacity: 1;
}
.caracteristica__texto{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: #ededed;
    margin-top: 15px;
    padding: 0.2rem;


}
.contenedor_caracteristica__texto> *{
    transition: 0.6s;
    transform:translateY(25px)
  
   


}
.contenedor_caracteristica__texto:hover> *{
transform: translateY(0px);

}
/* Estilos para el enlace */
.caracteristica__texto a {
    text-decoration: none; /* Quita la subrayado del enlace */
    color: #0077cc; /* Color del enlace */
}

.caracteristica__texto a:hover {
    text-decoration: underline; /* Subrayado en el enlace al pasar el mouse */
}

/* Estilos para la versión móvil */
@media (max-width: 767px) {
    .titulo_conocemas{
        margin-left: 5%;
        margin-right: 5%;
    }
    .caracteristicas {
        grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-right: 0; /* Elimina el margen derecho */
    }
    .contenedor_caracteristica__texto{
        opacity: 1;
        margin-top: 0rem;
    }
    .contenedor_caracteristica__texto> *{
        transition: 0.6s;
        transform:translateY(0px)
      
       
    
    

    }
    .caracteristica {
        margin-bottom: 20px; /* Agrega margen inferior para separar las características */
    }

    .caracteristica:hover {
        transform: none; /* Elimina el efecto hover en dispositivos móviles */
    }

    .caracteristica__texto {
        font-size: 2rem; /* Aumenta el tamaño del texto en dispositivos móviles */
    }
}
