body{
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(52, 51, 51);
    font-size: 4rem;
}

.slides{
    height: 70vh;
    overflow: hidden;
    position: relative;
    border: 4px solid #333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.slide{
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 16s infinite;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide-2{
    animation-delay: 4s;
}
.slide-3{
    animation-delay: 8s;
}
.slide-4{
    animation-delay: 10s;
}
.slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes slide-show{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%,30%{
        opacity: 1;
        scale: 1.03;
    }
    50%{
        opacity: 0;
    }
}